body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

select {
  width: 100%;
  height: 35px;
  word-wrap: normal;  
}

.pagination {
  justify-content: center;
}

.pagination > li > a {          
  border: none;     
  color: #696969;   
}

.pagination > .active > a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination > li > a:hover {        
  border-radius: 15px;    
}




