<div  id="filter-links">
  <%= link_to '全ユーザー投稿', posts_path, remote: true %> |
  <%= link_to 'ログインユーザー投稿', posts_path(filter: 'my_posts'), remote: true %>
</div>

<div id="post-list">
  <%= render 'posts_list', posts: @posts %>
</div>

<%= paginate @posts %>
